/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Sora:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
   overflow-x: hidden;
   overflow-y: visible;
}
.header{
   background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/carr.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/carr.jpg
  );
  background-size: cover;
}
*{
   font-family:'Sora';
}
.bg{
   background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/8959.jpg);
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/8959.jpg);
   background-size: cover;
}