/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Sora:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
   overflow-x: hidden;
   overflow-y: visible;
}
.header{
   background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/carr.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/carr.jpg
  );
  background-size: cover;
}
.heading{
   font-family:'Sora';
}
.bg{
   background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/8959.jpg);
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/8959.jpg);
   background-size: cover;
}
.alert {
   background-color: black; /* Red background color */
   color: white; /* Dark red text color */
   padding: 15px;
   padding-top: 20px;
   text-align: center;
   padding-bottom: 50px;
   border: 1px solid #f5c6cb; /* Border color */
   border-radius: 5px;
   margin-bottom: 20px;
   width: 50vw;
   margin-left: 30%;
   top: 30%;
   position: absolute;
   
 }
 /* Add this CSS to your global CSS file or component */
.backdrop-blur {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
   backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
 }

 .dropdown{
   animation-name: drop;
   animation-duration: 1s;
   animation-delay: 0;
   animation-timing-function: ease-in-out;
   transition: opacity 0.3s ease-in-out;
 }
 @keyframes drop {
   from {
     opacity: 0.5;
     top: 10;
   }
   to {
     opacity: 1;
     top: 100;
   }
 }
 
 